body{
    font-family:'Noto Sans', sans-serif;
    margin: 0;
}
/* first section start */
.first-banner{
   
}
.wrapper{
    display: flex;
    /* align-content: center; */
    padding: 100px 5% 80px 5%;
    
}
.text{
    width: 50%;
    
    
}
.left{
    align-self: center;
    /* padding-left: 50px; */
}
.linear{
    color: #FBA24F;
}
.head-text{
    font-size: 50px;
    font-weight: 500px;
    color:#575757 ;
}
.p-text{
    color: #828282;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 18px;
}
.btn{
    padding-top: 40px;
}
.link{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(to right, red , orange);
    padding: 20px 30px;
    border-radius: 30px;
}
.imge-section-1{

}
.imge-section-1 img{
    width: 100%;
}
/*  first section end */
/* 2nd section star */
.second-banner{
    /* background: url(imge/Frame\ 56.jpg); */
    /* background: url(imge/Frame\ 57.jpg); */
    /* background: url(imge/Frame\ 59.jpg); */
    background: url(imge/Frame\ 58.jpg);
    background-repeat: no-repeat;
}
.imge-section-2{
    /* padding-left: 20px; */
}
.imge-section-2 img{
    width: 50%;
    padding-left: 15%;
}
.right{
    align-self: center;
}



/* 2nd section end */
/* text section */
.wrapper-2{
    width: 50%;
    margin: 0 auto;
}
.h2{
    font-size: 40px;
    font-weight: 600;
    color:#828282;
    text-align: center;
}
.paraghap{
    justify-content: center;
    text-align: center;
    color: #828282;
    font-size: 18px;
}
/* text section */
/* box  */
.box{
    width: 40%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5%;
    padding: 2%  5% 2% 5%;

}

.box-img{
    
    /* border-radius: 30% 25% 30% 25%; */
    width: 90%;
    align-self: center;
}
.h2-box{
    font-size: 30px;
    font-weight: 700;
    color:#18191F;
    
}
.p-box{
    
}
/* box  */
footer{
    padding: 30px 0; 
    background-color: black;
    text-align: center;
}
.f-h2{
    font-size: 30px;
    font-weight: 700;
    color: #525659;
}
.span{
    color: orange;
}
.f{
    color: whitesmoke;
}