body{
    font-family:'Noto Sans', sans-serif;
}
/* first section start */
.first-banner{
   
}
.wrapper{
    display: flex;
    padding: 0 5% 80px 5%;
    
}
.text{
    width: 50%;
    
    
}
.left{
    align-self: center;
    /* padding-left: 50px; */
}
.linear{
    color: #FBA24F;
}
.head-text{font-size: 50px;
    font-weight: 500px;
    color:#575757 ;
}
.p-text{
    color: #828282;
}
.btn{
    padding-top: 40px;
}
.link{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(to right, red , orange);
    padding: 20px 30px;
    border-radius: 30px;
}
.imge-section-1{

}
.imge-section-1 img{
    width: 100%;
}
/*  first section end */
/* 2nd section star */
.second-banner{}
.imge-section-2{}
.imge-section-2 img{
    width: 50%;
}
.right{
    align-self: center;
}



/* 2nd section end */